/libhivex0
/libhivex0-dbg
/libhivex-dev
/libhivex-doc
/libhivex-bin
/libwin-hivex-perl
/libhivex-ocaml
/libhivex-ocaml-dev
/python-hivex
/tmp
/files
/*.debhelper.log
/*.debhelper
/*.substvars
*~

/build-*