#!/usr/bin/make -f

# -*- makefile -*-

#export DH_VERBOSE=1

include /usr/share/dpkg/pkg-info.mk

override_dh_auto_clean::
	dh_auto_clean --builddir=$(CURDIR)/debian/build

$(CURDIR)/debian/build/config.status:
	dh_auto_configure --builddir=$(CURDIR)/debian/build \
		-- --enable-ocaml --disable-python --disable-perl --disable-ruby

override_dh_auto_configure: $(CURDIR)/debian/build/config.status

$(CURDIR)/debian/build/build-stamp:
	dh_auto_build --builddir=$(CURDIR)/debian/build \
		-- LD_RUN_PATH=""
	touch $@

override_dh_auto_build: $(CURDIR)/debian/build/build-stamp

$(CURDIR)/debian/build/test-stamp:
	dh_auto_test --builddir=$(CURDIR)/debian/build
	touch $@

override_dh_auto_test: $(CURDIR)/debian/build/test-stamp

override_dh_auto_install:
	dh_auto_install --builddir=$(CURDIR)/debian/build \

%:
	dh $@ \
		--buildsystem=autoconf \
		--without python-support \
		--with ocaml

override_dh_install:
	dh_install --fail-missing -X.la -X.so.owner
